<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetRide">

        <!-- LoginActivity configurada como punto de entrada (Launcher) -->
        <activity
            android:name=".screens.authentication.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.rides.request_ride.RequestRideActivity"
            android:exported="false" />
        <activity
            android:name=".screens.rides.history_rides.RidesHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".screens.pets.manage_pet.ManagePetsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.pets.add_pet.AddNewPetActivity"
            android:exported="false" />
        <activity
            android:name=".screens.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.calendar.CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".screens.rides.RidesActivity"
            android:exported="false" />
        <activity
            android:name=".screens.pets.PetsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.authentication.signup.SignupActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>